.calendario-citas {
    margin: 20px;
    padding: 10px;
}

.rbc-calendar {
    border: 1px solid #ddd;
}
.centrar_texto {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(235, 29, 29);
}
