.image-container {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: none;
    border-radius: 5%;
}

.custom-navbar {
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(157, 178, 191);
}

.button2 {
    width: 120px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(6, 167, 207);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button2:hover {
    background-color: rgb(0, 204, 255);
}
.button-nav {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    font-size: 18px;
    background-color:  rgb(6, 167, 207);
    border-radius: 5px;
    color: white;
    border: none;
}