.perfil-container {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.perfil-title {
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 0.75rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1.4;
    position: relative;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    
}

.button-link {
    text-decoration: none;
}

.button-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 109, 130);
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.button-profile:hover {
    background-color: rgb(39, 55, 77);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.button-icon {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.logout-button-profile {
    background-color: rgb(6, 167, 207);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.logout-button-profile:hover {
    background-color: rgb(0, 204, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
