
  /* card */
  .create-service {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  